.HomePagePrimary {
  background-color: #C8DBD7;
  height: 92.71vh;
  display: flex;
  flex-direction: row; 
  align-items: center;
}

/* HOLLY IMAGE */
.Holly1 {
  min-width: 25vw;
  max-height: 50vh;
  position: relative;
  margin: 0 auto;
  border-radius: 50px;
}

.Section1 {
  display: flex; 
  margin: 0 auto;
  text-align: center;

}

.P1 {
  margin-top: 200px;
}

.LeftBackground {
  background-color: #F0DED0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh; 
  width: 33.5vw;
}

@media (min-width: 769px) {
  .Section1 {
    display: flex; 
    max-width: 1100px;
    margin: 0 auto;
 
  }
  .LeftBackground {
    background-color: #F0DED0;
    position: absolute;
    left: 0;
    top: 0;

    width: 33.5vw;
  }
  
  .P1{
    padding-left: 150px;
    font-weight: bold;
    font-size: 30px;
  }
  .P2{
    display: none;
  }
}

/* P2 MOBILE CONFIG */

@media (max-width: 1244px) {
  .P1 {display: none;}
  .LeftBackground{
    height: 101vh; 
  }
}
@media (max-width: 1644px) {

  .LeftBackground{
    height: 101vh; 
  }
}
@media (max-width: 767px) {
  .LeftBackground {
    display: none;

  }

  /* HERO AND P1 */
  .HomePagePrimary {
    flex-direction: column;
    align-items: center;
  }

  .Holly1 {
    max-width: 300px;
    margin-top: 100px ;
  
  }

  .P2 {
    margin-left: 0; 
    margin-top: 20px; 
    max-width: 330px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

  }
}
