.HeaderPrimary {
  background: #AE887B;
  padding: 20px 0;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1000;
}
.HeaderPrimary.contact {
  background-color: #5E5946; 
  color: white; 
}

.header {
  margin: 0 auto;
}

.HeaderPrimary.esports {
  color: black;
}

.header.esports {
  position: relative;
  background-color: rgb(0, 112, 115);
  margin-top: -20px;

  margin-bottom: -45px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center !important;
}

.logo {

  max-width: 150px;
  font-weight: bold;
  color: #ffe9e9;
  text-decoration: none;
}

.logo:hover {
  color: rgb(0, 0, 0);
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #000000;
}

.mobile-menu-icon {
  display: none;
  color: rgb(255, 255, 255);
}

.MMI-icon {
  height: 35px;
}

.container .navbar.open ul,
.container .navbar.open {
  display: flex;
  min-width: 100px;
  margin-left: -10px;
  border-radius: 0 0 10px 10px;
  background-color: #E7E5D9;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 75%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: transparent;
  }

  .navbar ul li a {
    text-decoration: none;
    color: #D9BFB1;
    transition: color 0.3s ease;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .navbar ul li {
    margin-left: 20px;

  }
  .container .navbar.open ul,
.container .navbar.open {
  background: transparent;

}
}
